
#etch{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;
 column-gap: 20px;
}

#tableHere {
  max-width: 50em;
  max-height: 50em;
  align-self: center;
  margin-right: 10%;

}

#table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 3px solid black;
  
}

td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
 }
 #menu {
   display: flex;
   flex-direction: column;
   max-width: fit-content;
   border: 3px solid black;
   border-radius: 10px;
   padding: 10px;
   background-color: beige;
   row-gap: 3px;
 }
 button #getNumber{
   background-color: white;
   box-shadow: none;
   border-radius: 5px;
   margin: 5px
   
 }
 button:active{
   background-color: greenyellow;
 }

 #defaultColor:focus {
  background-color: greenyellow;
 }
 #randomColor:focus{
  background-color: greenyellow;
 }